body{
    background: white;
    height: auto;
    width: auto;
}
.header{
    background-color: rgb(36, 5, 214);
    height: 5rem;
    text-align: center;
    font-family: 'Segoe UI Semibold';
    font-size: 55px;
    color: white;
}
.content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    color: black;
    display: block;
    justify-content: center;
    align-items: center 
    
}
.show{
    background-color: rgb(179, 4, 4);

      
}
